header
  h1
    a(href=`${path}index.pug`).home-link HOME
  ul.child-link
    li
      a(href=`${path}about/index.pug`) 当院について
    li
      a(href=`${path}treatment/index.pug`) 治療法
    li
      a(href="#") 施術例
