.mv-contents
  width 100%
  height 100vh
  position relative

.contents-wrapper
  background-image url('../image/bg-begie.png')
  background-position top
  background-size cover
  position: relative;
  top: 0;

.home section
  padding 120px 10% 0
  max-width 1080px
  margin 0 auto

.home section > h3
  font-size 30px
  color $black
  letter-spacing .2em

.concept-contents
  width 100%
  text-align center
  h2
    font-size 30px
    color $black
    letter-spacing .2em
  p
    margin-top 40px
    font-size 18px
    color $black
    letter-spacing .4em
    line-height 2

.treatment-contents
  .treatment-list
    margin-top 60px
    display flex
    justify-content center
    align-items flex-start
    li
      width 350px
      min-height 500px
      background-color #fff
      padding-bottom 25px
      border-radius 8px
      &:first-child
        margin-right 20px
      &:last-child
        margin-left 20px
      a
        display block
        height: 41%;
        img
          border-radius 8px 8px 0 0
      h4
        padding 26px 25px 0
        text-align center
        font-size 22px
        color $black
      p
        padding 18px 25px 0
        font-size 18px
        color $black
        line-height 1.8
        letter-spacing .04em
  .more-link
    margin 40px auto 0
    text-align center

.about-contents .about-wrapper
  display flex
  align-items flex-start
  justify-content space-between
  margin-top 60px
  div
    width 46%
    &.desc-box
      font-size 18px
      line-height 1.8
    &.img-box
      img
        border-radius 8px
  .more-link
    margin-top 70px

.access-contents .access-wrapper
  display flex
  align-items flex-start
  justify-content space-between
  margin-top 60px
  .map
    width 50%
    iframe
      width 100%
  .desc-box
    width 46%
    h4
      color $black
      letter-spacing .04em
      font-size 20px
    p
      margin-top 30px
      color $black
      letter-spacing .04em
      font-size 18px
      span
        display block
        margin-top 8px
        font-size: 14px
      &.confirm-text
        font-size: 14px
      &:nth-child(2)
        margin-top 20px

@media screen and (max-width 767px)
  .mv-contents
    height 100%

  .contents-wrapper
    padding 0 6%
    background-image url('../image/bg-begie-sp.png')
  .home section
    padding 80px 0 0
    max-width 100%

  .home section > h3
    font-size 26px

  .concept-contents
    width 100%
    text-align center
    h2
      font-size 30px
      color $black
      letter-spacing .2em
    p
      font-size 14px
      line-height 1.8
      letter-spacing: 0.18em;

  .treatment-contents
    .treatment-list
      display block
      li
        width 100%
        min-height 380px
        &:first-child
          margin-right 0
        &:last-child
          margin-left 0
          margin-top 40px
        h4
          font-size 18px
        p
          font-size 16px

  .about-contents .about-wrapper
    align-items center
    justify-content center
    flex-direction column-reverse
    div
      width 100%
      &.desc-box
        font-size 16px
        margin-top 40px
    .more-link
      margin 40px auto 0

  .access-contents .access-wrapper
    align-items center
    justify-content center
    flex-direction column-reverse
    .map
      width 100%
      margin-top 40px
      iframe
        width 100%
        height 400px
    .desc-box
      width 100%