.title-contents.treatment
  width 100%
  height 400px
  background-image url('../image/bg_2.jpg')
  background-position center
  background-size cover
  position relative
  h2
    font-size 50px
    color #fff
    letter-spacing .14em
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

.treatment-lint-contents
  max-width 1080px
  margin 0 auto
  .treatment-box
    padding 30px 60px
    background-color #fff
    border-radius 20px
    &:not(:first-child)
      margin-top 40px
    h3
      font-size 30px
      font-weight bold
      color $black
      position relative
      &::after
        content: "";
        display block
        width 100%
        height 2px
        border-top 1px solid $black
        margin-top 22px
    p
      font-size 18px
      color $black
      line-height 1.6
      margin-top 20px
      letter-spacing .014em

.price-contents
  max-width 842px
  margin 0 auto
  padding-top 120px
  h2
    font-size 30px
    color $black
    letter-spacing .2em
    text-align center
  .price-wrapper
    margin-top 40px
    display flex
    align-items center
    justify-content space-between
    .price-table
      width 48%
  .confirm
    &:first-child
      margin-top 18px
    font-size 22px
    color $black
    letter-spacing .02em
    margin-top 8px

@media screen and (max-width 767px)

  .title-contents.treatment
    height 200px
    h2
      font-size 26px

  .treatment-lint-contents
    max-width 100%
    margin-top 20px
    .treatment-box
      padding 20px 26px
      margin 0 4%
      &:not(:first-child)
        margin-top 40px
      h3
        font-size 22px
        text-align center
        &::after
          margin-top 22px
      p
        font-size 16px
        line-height 1.8
        margin-top 20px
        letter-spacing .014em

  .price-contents
    margin 0 4% 0
    .price-wrapper
      display block
      .price-table
        width 100%
        &:not(:first-child)
          margin-top 20px
    .confirm
      font-size 18px