extends ../_layout

block vars
  -
    const meta = {
      title: "タチアナ治療院",
      desc: '',
      path: '../'
    }
block head
  link(rel="stylesheet", href=`${path}/stylus/index.styl`)
block contents
  main
    section.title-contents
      h2 治療法
    section.treatment-lint-contents
      .treatment-box
        h3 カイロプラクティック
        p 金骨格系の障害とそれが及ぼす健康全般への影響を診断し、治療、予防する専門的治療法です。
          br
          | 骨格の異常を矯正することで神経の動きを回復させ脳から伝達される神経の働きを良くすれば、
          br
          | 自ずと症状が改善し健康へとつながります。
          br
          | また、ご自身で日常で出来る簡単な運動法もお教えします。
      .treatment-box
        h3 ホットストーン
        p ホットストーンの説明が入ります。ホットストーンの説明が入ります。ホットストーンの説明が入ります。ホットストーンの説明が入ります。ホットストーンの説明が入ります。ホットストーンの説明が入ります。ホットストーンの説明が入ります。ホットストーンの説明が入ります。ホットストーンの説明が入ります。ホットストーンの説明が入ります。ホットストーンの説明が入ります。
    section.price-contents
      h2 料金表
      .price-wrapper
        .price-table
          img(src="../image/price_1.svg", alt="カイロプラクティック")
        .price-table
          img(src="../image/price_2.svg", alt="ホットストーン")
      p.confirm ※保険外治療となります
      p.confirm ※現金のみとなります
    .contact-contents
      h3 お問い合わせ
      a(href="#") Tel: 0267-41-6533
    p.copyright 2021 copyright tachiana clinic