extends ../_layout

block vars
  -
    const meta = {
      title: "タチアナ治療院",
      desc: '',
      path: '../'
    }
block head
  link(rel="stylesheet", href=`${path}/stylus/index.styl`)
block contents
  main
    section.title-contents.about
      h2 当院について
    section.concept-contents
      P.is-pc 美しい山と緑に囲まれた当院で私タチアナが
        br
        | マンツーマンでお１人お1人のお困りの症状に寄り添った
        br
        | 丁寧な施術を行います。
      P.is-sp 美しい山と緑に囲まれた当院で
        br
        | 私タチアナがマンツーマンで
        br
        | お１人お1人のお困りの症状に寄り添った
        br
        | 丁寧な施術を行います。
    section.consultation-room-contents
      h3 診察室
      .consultation-room-wrapper
        .img-box
          img(src=`${path}image/room.png`, alt="診察室")
        p テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    section.doctor-contents
      h3 医師紹介
      .doctor-wrapper
        .img-box
          img(src=`${path}image/dummy.png`, alt="寺下 タチアナ")
        .profile-area
          h3 院長
          h2 寺下 タチアナ
            span TERASHITA TATIANA
          p.history ・モスクワ大学医学部卒
            br
            | ・モスクワでリハビリ科の医師として勤務
          p.profile ロシアから来日して20年。その間、東京で5年間カイロプラクティクの指導や運動選手、バレエダンサーの治療なども行っていました。
            br
            | 軽井沢が大好きでここに開業して10年余。
            br
            | 地域に密着した健康相談の窓口を目指したいと思います。
    section.schedule-contents
      h3 診察時間
      p.concept.is-pc その日のお客様に必要な施術をお体を診断してから丁寧に行います
        br
        | 一回の施術時間はお客様お1人お1人のご都合と
        br
        | お体の状態によって異なりますのでご了承ください
      p.concept.is-sp その日のお客様に必要な施術を
        br
        | お体を診断してから丁寧に行います
        br
        | 一回の施術時間はお客様お1人お1人のご都合と
        br
        | お体の状態によって異なりますのでご了承ください
      .schedule-box
        .img-box
          img(src=`${path}image/schedule.svg`, alt="営業日")
      p.confirm ※診察は
        span 要予約
        | とさせていただいております。
      p.confirm ※お支払いは
        span 現金のみ
        | とさせていただいております。
      p.confirm ※施術は着衣のままで行います。動きやすい服装でお越し下さい。
      p.confirm ※日本語、英語、ロシア語の3ヶ国語に対応します。
    section.access-contents
      h3 アクセス
      .access-wrapper
        .map
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3214.219372807693!2d138.55259901527077!3d36.33123278004788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601dcd8b99c6fccf%3A0xfd46903159c253bc!2z44K_44OB44Ki44OK5rK755mC6Zmi!5e0!3m2!1sja!2sjp!4v1610890100420!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
        .desc-box
          h4 タチアナ治療院
          p 〒389-0115 長野県北佐久郡軽井沢町追分958-33
            span ※駐車スペースあります
          p Tel: 0267-41-6533
          p 定休日: 月曜日
          p 診療時間: AM 8:00 ～ PM 20:00
    p.copyright 2021 copyright tachiana clinic